/* CSS Reset */

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* >>>>>>>>>><<<<<<<<<<<<<<<< */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #d166cc;
    background: linear-gradient(231deg, rgba(209, 102, 204, 1) 0%, rgba(199, 131, 200, 1) 14%, rgba(164, 224, 189, 1) 59%, rgba(36, 237, 116, 1) 85%, rgba(214, 195, 24, 1) 100%);
}

h1 {
    margin: 0.625rem auto;
    padding: 1.25rem;
    font-family: "Aldrich", sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    color: #c2185b;
}

h2{
    height: 3.75rem;
    margin-bottom: 0.938rem;
    color: #4b3fcf;
    font-size: 2.25rem;
    text-align: center;
}

.images-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4.375rem;
}

img {
    height: 9.375rem;
    width: 9.375rem;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: all ease 0.15s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

img:hover {
    background: linear-gradient(231deg, rgba(209, 102, 204, 1) 0%, rgba(199, 131, 200, 1) 14%, rgba(164, 224, 189, 1) 59%, rgba(36, 237, 116, 1) 85%, rgba(214, 195, 24, 1) 100%);
    
}

img:active {
    background: linear-gradient(45deg, rgba(209, 102, 204, 1) 0%, rgba(199, 131, 200, 1) 14%, rgba(164, 224, 189, 1) 59%, rgba(36, 237, 116, 1) 85%, rgba(214, 195, 24, 1) 100%);
    transform: scale(0.96);
   
}

.data-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.188rem;
    padding: 1.875rem;
}

.data-container > p{
    padding: 0.625rem 1.25rem;
    font-size: 1.563rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 0.625rem;

}

.result-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.625rem;
    font-size: 1.563rem;
    height: 6.25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #4b3fcf;
}

.result {
    border-bottom: 0.125rem solid #c2185b;
}

span {
    color: #c2185b;
    font-size: 1.875rem;
}

.reset-btn {
    align-self: center;
    background-color: transparent;
    padding: 0.625rem 1.25rem;
    font-size: 1.25rem;
    transition: all ease 0.30s;
    border: 1px solid black;
    transition: all ease 0.15s;
    cursor: pointer;
}

.reset-btn:hover {
    background-color: rgba(255, 0, 0, 0.705);
}

.reset-btn:active {
    background-color: red;
    transform: scale(0.96);
}

/*   styling SVG */

.icon {
    color: black;
}

.svg-alignment {
   display: inline-flex;
   align-items: center;
   gap: 0.5rem;
}

svg {
    width: 1.375rem;
    height: 1.375rem;
}